


<div class="centerContainer">
      <div class="baseContainer2">
            <form>
                        <table>
                              <tr>
                                    <td class="labelStyle"><div class="tdWidth">Login</div></td>
                                    <td><input type="text"> </td>
                              </tr>
                              <tr>
                                    <td class="labelStyle"><div class="tdWidth">Password</div></td>
                                    <td><input type="password"> </td>
                              </tr>
                        </table>
            </form>
      </div>
      <div class="spacingContainer">
            <button class="btn btn-brown" (click)="validateUser()"> Login </button>
      </div>            
</div>
