

<div>
      <div class="baseContainer3">
            <span class="labelFontSize">User list:</span>
      </div>
      <div class="spacingContainer">
                  <table>
                        <tr>
                              <th class="header nameColumn">Name</th>
                              <th class="header surnameColumn">Surname</th>
                              <th class="header colorColumn">Color</th>
                        </tr>
                        <tr>
                              <td class="nameColumn">Alfreds</td>
                              <td class="surnameColumn">Maria</td>
                              <td class="colorColumn"><input type="color" class="colorInputStyle" value="#e3bc08"></td>
                        </tr>
                  </table>
      </div>
      <div class="spacingContainer">
            <button class="btn btn-black" (click)="goToUserCreation()">Add User</button>
            <button class="btn btn-black" (click)="goToUserModification()">Edit User</button>
      </div>
</div>
