


<div class="baseContainer4">
    <table>
        <tr>
            <td class="labelStyle"><div class="tdWidth">Id :</div></td>
            <td><input type="text"> </td>
        </tr>
        <tr>
            <td class="labelStyle"><div class="tdWidth">Name :</div></td>
            <td><input type="text"> </td>
        </tr>
        <tr>
            <td class="labelStyle"><div class="tdWidth">Color :</div></td>
            <td></td> 
        </tr>
    </table>
</div>

<div class="baseContainer4">
    <button class="btn btn-brown">Save</button>
    <button class="btn btn-brown" (click)="cancleAndReturn()">Cancle</button>
</div>